name: Test

on:
  push:
    branches: [ "main","dev" ]
  pull_request:
    branches: [ "main","dev" ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: ${{ matrix.os }} / ${{ matrix.target }} / ${{ matrix.toolchain }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
        target: [x86_64-unknown-linux-gnu]
        toolchain: [stable, nightly]
        include:
          - os: ubuntu-latest
            target: wasm32-unknown-unknown
            toolchain: stable

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            toolchain: stable
            test-args: --exclude zune-benches

          - os: macos-latest
            target: aarch64-apple-darwin
            toolchain: stable
          - os: macos-latest
            target: aarch64-apple-darwin
            toolchain: nightly

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          targets: ${{ matrix.target }}

      - run: cargo test --verbose --release --workspace --no-fail-fast ${{ matrix.test-args }}
