name: Test JPEG

on:
  push:
    branches: [ "main","dev" ]
    paths:
      - 'crates/zune-jpeg/**'
  pull_request:
    branches: [ "main","dev" ]
    paths:
      - 'crates/zune-jpeg/**'
  schedule:
    - cron: '0 0 * * *'
env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Install
        run: cargo install cargo-fuzz
      - name: Test jpeg
        run: cargo test --verbose --package=zune-jpeg
      - name: Fuzz jpeg
        run: cargo +nightly fuzz run --fuzz-dir crates/zune-psd/fuzz decode_buffer -j2 -- -timeout=10s -max_total_time=120  fuzz-corpus/jpeg

